@mixin font-face($weight) {
    font: {
        family: 'Noto Sans KR';
        style: normal;
        weight: $weight;
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin list-margin-right($margin) {
    margin-right: $margin;

    &:last-child {
        margin-right: 0;
    }
}

@mixin list-margin-bottom($margin) {
    margin-bottom: $margin;

    &:last-child {
        margin-bottom: 0;
    }
}

@mixin overflow-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@mixin fixed-cover($z-index) {
    position: fixed;
    left: 0;
    top: 0;
    z-index: $z-index;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}