* {
  box-sizing: border-box;
}

html {
  overflow: auto;
  font-size: 62.5%;
  /* 10px = 1rem */
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background: #fcfcfc;
  min-width: 820px;
}

body,
button,
input[type=text],
input[type=number],
input[type=password],
select {
  font-family: "Noto Sans KR", sans-serif, "맑은고딕", "malgun gothic", "AppleGothic", "돋움", "dotum", Helvetica, Arial;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
  background-color: inherit;
  color: inherit;
}

input[type=text],
input[type=number],
input[type=password],
select {
  margin: 0;
  padding: 0;
  border: 0 solid black;
  border-radius: none;
  background-color: inherit;
  color: inherit;

  &:focus-visible {
    outline: none;
  }
}

p {
  margin: 0px;
}