/* fade */
.fade-enter {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease-out;
}

.fade-leave-to {
  opacity: 0;
}

/* slide-fade(right to left) */
.slide-fade-enter {
  transform: translateX(10px);
  opacity: 0;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.3s ease;
}

.slide-fade-leave-to {
  transform: translateX(-10px);
  opacity: 0;
}

/* slide-reverse-fade(left to right) */
.slide-reverse-fade-enter {
  transform: translateX(-10px);
  opacity: 0;
}

.slide-reverse-fade-enter-active,
.slide-reverse-fade-leave-active {
  transition: all 0.3s ease;
}

.slide-reverse-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

/* slide-up group */
.slide-up-enter {
  transform: translateY(10px);
  opacity: 0;
}

.slide-up-item {
  transition: all 0.5s ease;
}

.slide-up-leave-to {
  opacity: 0;
}